<div class="container">
  <div class="row">
    <div class="col-md-6 mt-2">
      <!-- <app-personajes [personajesHijo]="personajes"></app-personajes> -->
      <app-personajes></app-personajes>

    </div>
    <div class="col-md-6 mt-2">
      <!-- <app-agregar-personaje
        [nuevoPersonaje]="nuevo"
        (onNuevoPersonaje)="agregarNuevoPersonaje($event)"
      ></app-agregar-personaje> -->
       <app-agregar-personaje
        [nuevoPersonaje]="nuevo"
      ></app-agregar-personaje>
    </div>
  </div>
</div>
