<div class="card">
  <div class="card-header bg-dark text-white">
    <h6>Agregar Heroe</h6>
  </div>
  <div class="card-body">
    <form (ngSubmit)="agregar()">
      <div class="form-group">
        <label for="">Nombre</label>
        <input
          type="text"
          class="form-control"
          name="nombre"
          [(ngModel)]="nuevo.nombre"
        />
      </div>
      <div class="form-group">
        <label for="">Poder</label>
        <input
          type="number"
          class="form-control"
          name="poder"
          [(ngModel)]="nuevo.poder"
        />
      </div>
      <button type="submit" class="btn btn-dark">Agregar</button>
    </form>
  </div>
</div>
