<div class="container">
  <div class="row">
    <div class="col-6 mt-4">
      <div class="card flex justify-content-center">
        <p-card header="Validaciones Reactivas">
          <form
            autocomplete="off"
            [formGroup]="miFormulario"
            (ngSubmit)="submitFormulario()"
          >
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label">Nombre</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre de usuario"
                  formControlName="nombre"
                />
                <span
                  *ngIf="campoEsValido('nombre')"
                  class="form-text text-danger"
                >
                  Debe de ser en formato de nombre y apellido
                </span>
              </div>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="Email de usuario"
                />
              </div>
              <span
                *ngIf="campoEsValido('email')"
                class="form-text text-danger"
              >
                El correo es obligatorio
              </span>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label">Username</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  formControlName="username"
                  class="form-control"
                  placeholder="Username de usuario"
                />
              </div>
              <span
                *ngIf="campoEsValido('username')"
                class="form-text text-danger"
              >
                El username no puede ser jorge
              </span>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password de usuario"
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="" class="col-sm-3 col-form-label">Confirmar</label>
              <div class="col-sm-9">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirmar password de usuario"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!-- <button type="submit" class="btn btn-primary float-right">
                  Crear
                </button> -->
                <p-button type="submit" label="Crear" [loading]="loading" (click)="load()" styleClass="p-button-success" icon="pi pi-save" class="float-right"></p-button>
              </div>
            </div>
          </form>
        </p-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Form Valid: {{ miFormulario.valid }}</h2>

      <h5>Nombre:</h5>
      <pre>{{ miFormulario.controls["nombre"].errors | json }}</pre>

      <h5>Email:</h5>
      <pre>{{ miFormulario.controls["email"].errors | json }}</pre>

      <h5>Username:</h5>
      <pre>{{ miFormulario.controls["username"].errors | json }}</pre>
    </div>
  </div>
</div>
